## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets
project.lock.json

## Visual Studio
.vs/
*.rsuser
*.cache

## Azure Functions
local.settings.json

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## IDE
.idea/
*.swp
*.swo
*~
